<footer class="pure-u-1">
  <!-- <nav class="pure-menu pure-menu-horizontal"> -->
  <nav class="">
	  	<ul class="pure-g">
	  <!-- <ul class="pure-menu-list content flex-container"> -->
		
		<!-- {% include facebook-links-footer.html %} -->
		<!-- <li class="pure-menu-item flex-box"><a class="pure-menu-link large" href="https://www.facebook.com/thephilosophersmeme/" title="Facebook Page"><img src="/assets/img/nav/facebook.svg" alt="Facebook"> Like TPM on Facebook</a></li>
		<li class="pure-menu-item flex-box"><a class="pure-menu-link large" href="https://www.youtube.com/c/ThePhilosophersMeme" title="Youtube Channel"><img src="/assets/img/nav/youtube.svg" alt="Youtube"> Watch TPM on Youtube</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link large" href="https://www.facebook.com/groups/memetics/" title="Discussion Group"><img src="/assets/img/nav/discussion.svg" alt="Discussion"> Join our Research Group</a></li>
		<li class="pure-menu-item flex-box"><a class="pure-menu-link large" href="https://www.facebook.com/groups/sophismo/" title="Shitpost Group"><img src="/assets/img/nav/shitpost.svg" alt="Shitpost"> Join our Discussion Group</a></li>	 -->
			<li class="pure-u-1 pure-u-md-1-2">
				<div>
					<a href="https://www.facebook.com/thephilosophersmeme/" title="Facebook Page"><img src="/assets/img/nav/facebook.svg" alt="Facebook"> 
					Like TPM on Facebook</a><br>
					<a href="https://www.youtube.com/c/ThePhilosophersMeme" title="Youtube Channel"><img src="/assets/img/nav/youtube.svg" alt="Youtube"> Watch TPM on Youtube</a>
				</div>
			</li>
			<li class="pure-u-1 pure-u-md-1-2">
				<div>
					<a href="https://www.facebook.com/groups/memetics/" title="Discussion Group"><img src="/assets/img/nav/discussion.svg" alt="Discussion"> Join our Research Group</a><br>
					<a href="https://www.facebook.com/groups/sophismo/" title="Shitpost Group"><img src="/assets/img/nav/shitpost.svg" alt="Shitpost"> Join our Discussion Group</a>
				</div>
			</li>	
	  	</ul>
	  <div class="footer-copyright">&copy; The Philosophers Meme Consortium</div>
  </nav>
</footer>

<script type="text/javascript" src="/assets/js/nav.js"></script>