<footer>
  <ul>
    <li>&copy; Fuck It / Placeholder</li>
    <li><a href="http://www.facebook.com/thephilosophersmouth/"><img src="/assets/img/nav/facebook-icon.jpg" style="vertical-align: middle;"></a></li>
    <li><a href="https://www.facebook.com/groups/memetics/"><img src="/assets/img/nav/discussion-icon.png" style="vertical-align: middle;"></a></li>
    <li><a href="https://www.facebook.com/groups/sophismo/"><img src="/assets/img/nav/shitpost-icon.png" style="vertical-align: middle;"></a></li>
  </ul>
</footer>