<footer class="pure-u-1">
  <nav class="pure-menu pure-menu-horizontal">
	  <ul class="pure-menu-list content">
		<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
		<li>&copy; The Philosophers Meme Consortium</li>
		<li class="pure-menu-item"><a class="pure-menu-link large" href="http://www.facebook.com/thephilosophersmouth/" title="Facebook Page">👕</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link large" href="https://www.facebook.com/groups/memetics/" title="Discussion Group">💬</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link large" href="https://www.facebook.com/groups/sophismo/" title="Shitpost Group">💩</a></li>	
	  </ul>
  </nav>
</footer>