<header class="nav-container pure-u-1">
  <a id="toggleNav" href="">☰</a>
  <nav id="menu" class="pure-menu pure-menu-horizontal">
    <div class="content">
      <a href="/" class="pure-menu-heading pure-menu-link" style="padding-left: 0px;"> <img src="/assets/img/nav/tpm-header.png"> </a>
      <ul id="nav" class="pure-menu-list responsive">
      {% assign sorted_pages = site.pages | sort:"nav-position" %}
        {% for node in sorted_pages %}
          {% if node.title %}
            {% if page.url == node.url %}
                <li class="pure-menu-item active">
            {% else %}
                <li class="pure-menu-item">
            {% endif %}
            <a class="pure-menu-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
          {% endif %}
        {% endfor %}
        {% include facebook-links.html %}
      </ul>
    </div>
  </nav>
</header>
